@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Open+Sans&display=swap");
/* font-family: 'Epilogue', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
  margin: 0, auto;
  box-sizing: border-box;
}

:root {
  --primary-color: #c774ee;
  --dark-text-color: #111563;
  --nav-text-color: #63718e;
  --epiligue-font: "Epilogue", sans-serif;
  --open--font: "Open Sans", sans-serif;
  --empty-progress: #BAD9E7;
  
}
h4 {
  color:var(--dark-text-color);
  font-family: var(--epiligue-font);
  font-size: 22px;
  font-weight: bold;
  
}

body {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

/* header starts */

header {
  position: relative;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px 0 200px;
  width: 100%;
  height: 80px;
}
.header-components {
  margin: 0 auto;
  padding: 0;
}
nav {
  padding-top: 20px;
  margin: 0 11% 22px 11%;
}
.nav-list a {
  color: var(--nav-text-color);
  text-decoration: none;
}

.nav-list a:hover {
  font-weight: bold;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.nav-list {
  padding-left: 100px;
  margin: 0 auto;
  font-family: var(--open--font);
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}

.nav-list li {
  padding: 10px;
}

.logo {
  margin-right: 0 auto;
  display: inline;
}

#nav {
  color: white;
  font-weight: bold;
}
.button-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 6px 24px;
}
.button-primary:hover {
  display: inline-block;
  color: white;
  box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
  transform: scale(1.01);
  transition: 0.1s;
}

#sign {
  border: 2px solid var(--nav-text-color);
  padding: 4px 24px;
  border-radius: 10px;
  font-weight: bold;
}
#sign:hover {
  display: inline-block;
  border-color: var(--primary-color);
  color: var(--primary-color);
  transform: scale(1.03);
  transition: 0.1s;
}

.nav-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.nav-burger span:after,
.nav-burger:after,
.nav-burger:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--nav-text-color);
}
.nav-burger:before {
  top: 0;
  left: 0;
}
.nav-burger:after {
  bottom: 0;
  left: 0;
}
.nav-burger span:after {
  top: 50%;
}

main {
  margin: 0 200px 0 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

main p {
  font-family: var(--open--font);
}

main h2 {
  font-family: var(--epiligue-font);
  color: var(--dark-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
}
main p {
  font-family: var(--open--font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--nav-text-color);
}

.section-1 {
  margin: 100px 0 0 0;
}

.section-1 p {
  margin-bottom: 30px;
}

.button-primary.long {
  font-family: var(--open--font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 80px;
}
.button-primary:hover.long {
  transform: scale(1);
}

.section-2 {
  position: relative;
}

#vector {
  transform: matrix(0.92, 0.39, -0.39, 0.92, 0, 0);
  width: 564px;
  height: 644px;
  position: absolute;
  right: -81px;
  top: -12px;
}

.cleafix {
  clear: all;
}
#dots {
  margin-top: 60px;
  width: 456px;
  height: 250px;
}

#iMac {
  position: absolute;
  width: 770px;
  height: 583px;
  right: -43%;
  top: 1%;
}
.section-3 {
  display: flex;
  position: relative;
}

.section-3-card {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 380px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
  top: 342px;
  left: 107px;
}
.section-3 div:nth-child(1) {
  display: flex;
}

.section-3-circle {
  margin: 20px 5px 0 20px;
  height: 60px;
  width: 60px;
  padding: 20px;
  border: 1px solid #fee5ff;
  border-radius: 50%;
  background-color: #fee5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 3px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.fa-pen {
  color: #fff;
}

.section-3-card p {
  margin: 10px 20px 0 20px;
  padding-bottom: 19px;
  font-size: 1rem;
  font-family: var(--open--font);
}

.section-3-card h5 {
  margin: 40px 30px 0 10px;
  font-family: var(--epiligue-font);
  font-weight: 700;
  color: var(--dark-text-color);
}

#vector-2 {
  transform: matrix(0.92, 0.39, -0.39, 0.92, 0, 0);
  width: 360px;
  height: 359px;
  position: absolute;
  right: 78px;
  top: 107px;
}
#dots-2 {
  margin: 250px 50px 0 0;
  width: 250px;
  height: 150px;
}

#watch {
  position: absolute;
  width: 542px;
  top: 100px;
  right: -21px;
  height: 390px;
}
.section-4 {
  padding: 100px 0 0 50px;
}
h3 {
  font-family: var(--epiligue-font);
  font-weight: bold;
  font-size: 32px;
  color: var(--dark-text-color);
}

.section-4 p {
  color: var(--nav-text-color);
  font-size: 18px;
  font-family: var(--open--font);

  line-height: 150%;
}

/* form */

.form-text-container {
  text-align: center;
  padding-top: 50px;
}

form {
  margin: 70px 100px 0 80px;
  width: 1180px;
  height: 360px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
}

.mb-3 {
  margin: 25px 0 0 100px;
}
.form-select-sm {
  font-family: var(--open--font);
  width: 180px;
  height: 50px;
  margin: 0 20px 0 0;
  box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
  border-radius: 10px;
}

.form-control-sm {
  width: 180px;
  height: 50px;
  box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
  border-radius: 10px;
  border: 1px solid black;
}

.dynamic-button {
  margin: 0 0 0 -14px;
  position: relative;
  width: 180px;
  display: inline-block;
}

.plus-button,
.minus-button {
  position: absolute;
  cursor: pointer;
}
.plus-button {
  position: absolute;
  top: 25%;
  left: 90%;
  z-index: 1;
}

.minus-button {
  position: absolute;
  top: 25%;
  right: 77%;
}

.result-value {
  margin: 0 0 0 25px;
  font-family: var(--epiligue-font);
  font-size: 22px;
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.dropdown-wrapp.long {
  display: flex;
  width: 380px;
  height: 50px;
  margin: 0 20px 0 0;
  box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
  border-radius: 10px;
}

.proceed {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
}
.proceed:hover {
  display: flex;
}

.form-select:focus {
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.dropdown-wrapp {
  margin: 0 20px 0 0;
  border-radius: 10px;
  display: flex;
  position: relative;
  align-items: center;
  width: 180px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}

.dropdown-wrapp.active {
  border: 1px solid var(--primary-color);
}
.arrow-container {
  margin-left: 70%;
}
.arrow-container.long {
  position: absolute;
  left: 20%;
}

.arrow-container:hover {
  cursor: pointer;
}
.fa-sort-down.active {
  transform: rotateZ(180deg);
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  padding: 0;
  position: absolute;
  flex-direction: column;
  display: flex;
  text-align: start;
  width: 204px;
  height: 170px;
  background: #f9fafc;
  border-radius: 6px;
  top: 120%;
  left: 0;
  filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.05));
}
.dropdown-item {
  display: flex;
  margin: 5px 0 0 20px;
  padding: 4px 0 6px 11px;
  align-items: center;
  font-size: 1rem;
}
.dropdown-item:hover {
  width: 70%;
  cursor: pointer;
  background: #fee5ff;
  border-radius: 6px;
  color: var(--primary-color);
}


/* //////////////////////
progress container */

.progres-main-container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle {
  background-color: var(--empty-progress);
  color: #91a7b1;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--empty-progress);
  transition: 0.4s ease;
  cursor: pointer;
}

.circle.active {
  background-color: #FEE5FF;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.progress {
  background-color: var(--primary-color);
  position: absolute;
  top: 29%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress-container {
  color: var(--empty-progress);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 600px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}

.step.lighted {
  color: var(--primary-color);
}

.progress-container::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--empty-progress);
  width: 95%;
  top: 26%;
  z-index: -1;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.left-side-container{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 200px;
  
}
.left-side-container-list {
  padding-top: -50px;
  position: relative;
  width: 300px;
}


.left-side-items {
  font-family: var(--epiligue-font);
  font-size: 22px;
  color: var(--nav-text-color);
  padding-left: 10px;
 display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.left-side-items:hover {
  color: var(--primary-color);
  cursor: pointer;

}

.left-side-items:hover:before{
  background-color: var(--primary-color);
  width: 25px;

}


.left-side-items::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--nav-text-color);
  position: absolute;
  left: 10px;
  
}

.right-side-container {
  margin-top: 92px;
  overflow: hidden;
  
}

.right-side-par{
  margin: 0 auto;
  font-family: var(--open--font);
  color: var(--nav-text-color);
  font-size: 16px;
}

ol {
  padding: 0px 0 0 15px;
  font-family: var(--open--font);
  color: var(--primary-color);
  max-width: 480px;
}

ol li {
  padding: 20px 0px 0 0;
}
ol span {
  color: var(--nav-text-color)
}

h7 {
  color: #c774ee;
  font-weight: bold;
}


.slide-1 {
  position: relative;
  transform: translateX(100%);
  transition: .5s;
}
.slide-2{
  position: relative;
  transform: translateX(200%);
  transition: .5s;
}

.slide-3{
  position: relative;
  transform: translateX(300%);
  transition: .5s;
}



/* ///////////////////////////////////////////
///////////////////////////////////////////
media calls */



@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 50px;
  }

  .header-components {
    margin: 0 0 0 -550px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: -1000%;
  }

  .nav-list.active ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list.active {
    position: fixed;
    left: -20%;
    top: -7px;
    display: flex;
    transition: 0.3s;
    margin: 0 auto;
    padding: 0;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    width: 120%;
    height: 50px;
  }

  .nav-list li {
    padding-top: 20px;
  }

  .nav-burger {
    display: block;
    position: fixed;
    right: 3%;
    z-index: 4;
  }

  .nav-burger.active {
    position: fixed;
    display: block;
    right: 3%;
    z-index: 4;
  }

  .nav-burger.active::before {
    top: 9px;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .nav-burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .nav-burger.active span {
    display: none;
  }

  .logo {
    display: inline-block;
    padding-left: 40px;
  }

  .logo.active {
    display: none;
    transition: 0.3s;
  }

  main {
    margin: 30px 20px 0 20px;
    display: grid;
    grid-template-rows: 1fr 0 1fr 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  h2 {
    margin: 0 auto;
  }
  .section-1 {
    margin: 20px 0 0 0;
  }

  .section-2 {
    width: 498px;
    height: 348.67px;
    margin: -80px 80px 40px 140px;
  }
  .section-4 {
    margin-top: 70px;
  }
  .section-3 {
    top: 700px;
  }

  #dots-2 {
    margin: 250px 0px 0 23px;
  }
  #vector-2 {
    right: 284px;
  }
  #watch {
    right: 180px;
  }
  .section-3-card {
    top: 217px;
    left: 331px;
  }
  form {
    margin: 0 auto;

    width: 768px;
    height: 473px;
    margin-top: 400px;
  }

  .dropdown-wrapp {
    width: 300px;
    margin: 0 20px 40px 0;
  }
  .dropdown-wrapp.long {
    width: 300px;
    height: 50px;
  }

  .dynamic-button {
    margin: 0 0 0 -10px;
  }
  .form-control-sm {
    width: 300px;
  }
  .plus-button {
    top: 14%;
    left: 150%;
  }
  .minus-button{
    top: 14%;
  }

  .result-value {
    position: absolute;
    top: 153%;
    left: 24%;
  }

  .row {
    margin: 0 0 0 70px;
    position: relative;
  }

  .proceed {
    position: absolute;
    left: 46%;
    top: 135%;
  }


}
