@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Open+Sans&display=swap");
/* font-family: 'Epilogue', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
  margin: 0, auto;
  box-sizing: border-box;
}

:root {
  --primary-color: #c774ee;
  --dark-text-color: #111563;
  --nav-text-color: #63718e;
}

body {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

/* header starts */

header {
  position: relative;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px 0 200px;
  width: 100%;
  height: 80px;
}
.header-components {
  margin: 0 auto;
  padding: 0;
}
nav {
  padding-top: 20px;
  margin: 0 11% 22px 11%;
}
.nav-list a {
  color: var(--nav-text-color);
  text-decoration: none;
}

.nav-list a:hover {
  font-weight: bold;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.nav-list {
  padding-left: 100px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}

.nav-list li {
  padding: 10px;
}

.logo {
  margin-right: 0 auto;
  display: inline;
}

#nav {
  color: white;
  font-weight: bold;
}
.button-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 6px 24px;
}
.button-primary:hover {
  display: inline-block;
  color: white;
  box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
  transform: scale(1.01);

  transition: 0.1s;
}

#sign {
  border: 2px solid var(--nav-text-color);
  padding: 4px 24px;
  border-radius: 10px;
  font-weight: bold;
}
#sign:hover {
  display: inline-block;
  border-color: var(--primary-color);
  color: var(--primary-color);
  transform: scale(1.03);
  transition: 0.1s;
}

.nav-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.nav-burger span:after,
.nav-burger:after,
.nav-burger:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--nav-text-color);
}
.nav-burger:before {
  top: 0;
  left: 0;
}
.nav-burger:after {
  bottom: 0;
  left: 0;
}
.nav-burger span:after {
  top: 50%;
}

main {
  margin: 0 200px 0 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

main h2 {
  font-family: "Epilogue", sans-serif;
  color: var(--dark-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
}
main p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--nav-text-color);
}

.section-1 {
  margin: 100px 0 0 0;
}

.section-2 {
  position: relative;
}
/* .background {
} */

#vector {
  transform: matrix(0.92, 0.39, -0.39, 0.92, 0, 0);
  width: 564px;
  height: 644px;
  position: absolute;
  right: -81px;
  top: -12px;
}

.cleafix {
  clear: all;
}
#dots {
  margin-top: 60px;
  width: 456px;
  height: 250px;
}

#iMac {
  position: absolute;
  width: 770px;
  height: 583px;
  right: -43%;
  top: 1%;
}

/* .main-button {
  text-align: center;
  background-color: var(--primary-color);
  padding: 18px 24px;
  color: white;
  font-weight: bold;
 font-size: 20px;
 border-radius: 10px;
 width: 180px;

} */

/* media calls */
/* //////////////////////////////// */

@media screen and (max-width: 1220px) {
  .nav-list {
    font-size: 10px;
    padding: 0 10px 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    margin-right: 100px;
  }
  .nav-list li {
    font-size: 12px;
    padding: 0 8px 0 0;
  }
}
nav {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 50px;
  }

  .header-components {
    margin: 0 0 0 -550px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: -1000%;
  }

  .nav-list.active ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list.active {
    position: fixed;
    left: -20%;
    top: -7px;
    display: flex;
    transition: 0.3s;
    margin: 0 auto;
    padding: 0;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    width: 120%;
    height: 50px;
  }

  .nav-list li {
    padding-top: 20px;
  }

  .nav-burger {
    display: block;
    position: fixed;
    right: 3%;
    z-index: 4;
  }

  .nav-burger.active {
    position: fixed;
    display: block;
    right: 3%;
    z-index: 4;
  }

  .nav-burger.active::before {
    top: 9px;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .nav-burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .nav-burger.active span {
    display: none;
  }

  .logo {
    display: inline-block;
    padding-left: 40px;
  }

  .logo.active {
    display: none;
    transition: 0.3s;
  }

  main {
    margin: 30px 20px 0 20px;
    display: grid;
    grid-template-rows: 1fr 0 1fr 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  h2 {
    margin: 0 auto;
  }
  .section-1 {
    margin: 20px 0 0 0;
  }
}
