
.form-text-container {
    text-align: center;
    padding-top: 50px;
  }
  
  form {
    margin: 70px 100px 0 80px;
    width: 1180px;
    height: 360px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
  }
  
  .mb-3 {
    margin: 25px 0 0 100px;
  }
  .form-select-sm {
    font-family: var(--open--font);
    width: 180px;
    height: 50px;
    margin: 0 20px 0 0;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
  }
  
  .form-control-sm {
    width: 180px;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .dynamic-button {
    margin: 0 0 0 -14px;
    position: relative;
    width: 180px;
    display: inline-block;
  }
  
  .plus-button,
  .minus-button {
    position: absolute;
    cursor: pointer;
  }
  .plus-button {
    position: absolute;
    top: 25%;
    left: 90%;
    z-index: 1;
  }
  
  .minus-button {
    position: absolute;
    top: 25%;
    right: 77%;
  }
  
  .result-value {
    margin: 0 0 0 25px;
    font-family: var(--epiligue-font);
    font-size: 22px;
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
  }
  
  .dropdown-wrapp.long {
    display: flex;
    width: 380px;
    height: 50px;
    margin: 0 20px 0 0;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
  }
  
  .proceed {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
  }
  .proceed:hover {
    display: flex;
  }
  
  .form-select:focus {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    outline: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .dropdown-wrapp {
    margin: 0 20px 0 0;
    border-radius: 10px;
    display: flex;
    position: relative;
    align-items: center;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .dropdown-wrapp.active {
    border: 1px solid var(--primary-color);
  }
  .arrow-container {
    margin-left: 70%;
  }
  .arrow-container.long {
    position: absolute;
    left: 20%;
  }
  
  .arrow-container:hover {
    cursor: pointer;
  }
  .fa-sort-down.active {
    transform: rotateZ(180deg);
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .dropdown-menu.active {
    padding: 0;
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: start;
    width: 204px;
    height: 170px;
    background: #f9fafc;
    border-radius: 6px;
    top: 120%;
    left: 0;
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.05));
  }
  .dropdown-item {
    display: flex;
    margin: 5px 0 0 20px;
    padding: 4px 0 6px 11px;
    align-items: center;
    font-size: 1rem;
  }
  .dropdown-item:hover {
    width: 70%;
    cursor: pointer;
    background: #fee5ff;
    border-radius: 6px;
    color: var(--primary-color);
  }