main {
    margin: 0 200px 0 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  main h2 {
    font-family: var(--epiligue-font);
    color: var(--dark-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
  }
  main p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  
  .section-1 {
    margin: 100px 0 0 0;
  }
  
  .section-1 p {
    margin-bottom: 30px;
  }
  
  .button-primary.long {
    font-family: var(--open--font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 80px;
  }
  .button-primary:hover.long {
    transform: scale(1);
  }
  
  .section-2 {
    position: relative;
  }
  
  #vector {
    transform: matrix(0.92, 0.39, -0.39, 0.92, 0, 0);
    width: 564px;
    height: 644px;
    position: absolute;
    right: -81px;
    top: -12px;
  }
  
  .cleafix {
    clear: all;
  }
  #dots {
    margin-top: 60px;
    width: 456px;
    height: 250px;
  }
  
  #iMac {
    position: absolute;
    width: 770px;
    height: 583px;
    right: -43%;
    top: 1%;
  }
  .section-3 {
    display: flex;
    position: relative;
  }
  
  .section-3-card {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 380px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
    top: 342px;
    left: 107px;
  }
  .section-3 div:nth-child(1) {
    display: flex;
  }
  
  .section-3-circle {
    margin: 20px 5px 0 20px;
    height: 60px;
    width: 60px;
    padding: 20px;
    border: 1px solid #fee5ff;
    border-radius: 50%;
    background-color: #fee5ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-3-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 3px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
  }
  
  .fa-pen {
    color: #fff;
  }
  
  .section-3-card p {
    margin: 10px 20px 0 20px;
    padding-bottom: 19px;
    font-size: 1rem;
  }
  
  .section-3-card h5 {
    margin: 40px 30px 0 10px;
    font-family: var(--epiligue-font);
    font-weight: 700;
    color: var(--dark-text-color);
  }
  
  #vector-2 {
    transform: matrix(0.92, 0.39, -0.39, 0.92, 0, 0);
    width: 360px;
    height: 359px;
    position: absolute;
    right: 78px;
    top: 107px;
  }
  #dots-2 {
    margin: 250px 50px 0 0;
    width: 250px;
    height: 150px;
  }
  
  #watch {
    position: absolute;
    width: 542px;
    top: 100px;
    right: -21px;
    height: 390px;
  }
  .section-4 {
    padding: 100px 0 0 50px;
  }
  h3 {
    font-family: var(--epiligue-font);
    font-weight: bold;
    font-size: 32px;
    color: var(--dark-text-color);
  }
  
  .section-4 p {
    font-size: 18px;
    line-height: 150%;
  }